.hero-outer-container {
    background: linear-gradient(rgba(34, 26, 25, 0.4), rgba(34, 26, 25, 0.4)) 29% -290px / auto, url('../../assets/home-background.jpg') no-repeat;
    background-size: cover;
    height: 500px;
    background-position: 29% -290px;
    padding: 0;
}

.hero-inner-container {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 500px;
}

.hero-headline {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.hero-subheadline {
    color: white;
    font-weight: 600;
    text-align: center;
}

.hero-subheadline > span {
    color: #F8D586;
}

.subheadline-row > .col {
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(255, 255, 255);
}

.hero-deals-outer {
    background-color: var(--darkBlue);
}

.hero-deals-outer > span {
    color: #F8D586;
}

.lowestFares-container {
    padding-top: 20px;
}