.hero-outer-container {
    background: linear-gradient(rgba(34, 26, 25, 0.4), rgba(34, 26, 25, 0.4)) 29% -290px / auto, url('../../assets/home-background.jpg') no-repeat;
    background-size: cover;
    height: 500px;
    background-position: 29% -290px;
    padding: 0;
}
.aboutus-outer-container {
    background: rgb(42, 76, 142);
}

.hero-inner-container {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 500px;
}
.aboutus-inner-container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    max-width: 1130px;
}

.hero-headline {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.hero-subheadline {
    color: white;
    font-weight: 600;
    text-align: center;
}

.hero-subheadline > span {
    color: #F8D586;
}

.subheadline-row > .col {
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(255, 255, 255);
}

.hero-deals-outer {
    background-color: var(--darkBlue);
}

.hero-deals-outer > span {
    color: #F8D586;
}

.lowestFares-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
}
.lowestFares-container > div{
    align-items: center;
    justify-content: center;
}
.lowestfare-caption{
    max-width: 220px;
}
.lowestfare-caption > p:first-child{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}
.lowestfare-caption > p:last-child{
    color: rgb(138, 138, 138) !important;
    font-size: 11px;

}
@media (min-width: 768px){
    .lowestfare-caption{
        margin-top: 10px;
    }
    .lowestFares-container > div{
        justify-content: end;
        align-items: flex-start;
        flex-direction: column;
    }
    .lowestFares-container{
        display: flex;
        padding: 20px;
    }
    .aboutus-outer-container{
    background: url("https://www.asaptickets.com/static/img/about/background.jpg") right bottom no-repeat, rgb(42, 76, 142);
    }
}
@media (min-width: 1025px){
    .lowestfare-caption > p:last-child{
        font-size: 12px;
    }
    .lowestfare-caption > p:first-child{
        font-size: 14px;
    }
    .lowestfare-caption{
        margin-top: 0px;
    }
    .lowestFares-container > div{
        flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    }
}