/* We use cookies */
.cookies-alert-bar {
    background-color: var(--lightBlue);
    width: 100%;
    box-shadow : rgb(0 0 0 / 10%) 0px -3px 30px
}
.cookie-btn{
    display: grid;
    grid-area: 2 / 1 / 3 / 4;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 5px;
}
.arrow-btn{
    display: grid;
    padding: 10px;
    grid-area: 1 / 2 / 3 / 3;
}
.collapse-icon{
    width: 10px;
    cursor: pointer;
}
.cookies-container{
    line-height: 16px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 5fr 0fr auto;
    font-size: 12px !important;
    padding: 5px 0px 5px 5px !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 1130px;
    align-items: center;
    color: rgb(255, 255, 255) !important;
}
.extended{
    max-height: 200px !important;
}
.cookie-txt{
    padding: 5px 20px 0px 10px;
    transition: all 0.3s ease 0s;
}
.notexpandedtxt{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.extended .collapse-icon{
    transform: rotate(-180deg);
}
input{
    appearance: none;
}
body input{
    appearance: none;
}
.radio-search{
    top: -999px;
    left: -9999px;
    opacity: 0;
    position: absolute !important;
    display: none !important;
    visibility: hidden !important;
}
.search-form-div{
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding-left: 20px;
    align-self: baseline;
}
.search-form-div::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 100%;
    transform: translateY(-50%);
    border: 1px solid rgb(190, 196, 206);
    background-color: white;
}
.search-form-div.checked::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 100%;
    transform: translateY(-50%);
    background-color: rgb(36, 114, 187);
}
.cookies-alert-bar > .col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.cookie-btn > button {
    border-width: 1px;
    padding: 7px 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px !important;
    font-size: 12px !important;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

.cookies-alert-bar > .col > p {
    color: white;
    font-size: 12px;
}

/* Trustpilot */
.trustpilot-row {
    z-index: -1;
    height: 40px;
}

.info-header{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
}
.trustpilot-row > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 1130px;
    font-size: 12px;
    height: 100%;
    padding: 0px 20px !important;
}

.trustpilot-row > .col > div {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 10px;
}
.trustpilot-img > div{
    height: 20px;
    width: 77px;
    margin-bottom: 5px;
    margin-right: 10px;
    position: relative;
    flex-shrink: 0;
}
.navbar-container{
    z-index: 999;
    position: sticky;
    top: 0px;
}
.promobanner-container{
    background-color: rgb(10, 49, 124);
    color: rgb(255, 255, 255);
}
.promobanner-bar{
    margin-left: auto;
    margin-right: auto;
    padding: 10px !important;
    max-width: 1130px;
}
.promobanner-bar .svgIcon{
    width: 17px;
    height: 17px;
}
.promobanner-hidden-text{
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s ease-out 0s;
    font-weight: 300;
    margin: 0;
}
.section-for-search{
    display: none;
    height: 118px;
}
.section-for-search > div{
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.show-section-for-search{
    display: block;
}
.acc-business > a{
    width: 77px;
    height: 24px;
}
.header-container{
    height: 68px;
}
.header-container > div:first-child img {
    width: 130px;
    height: 30px;
}
.phoneno-tollfree{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.main-tollfree{
    padding: 0px 10px;
    display: none;
}
.phoneno-tollfree::after , .phoneno-tollfree::before{
    z-index: -2;
    content: "";
    position: absolute;
    left: 5px;
    width: 220px;
    height: 50px;
    box-shadow: rgb(255 112 166 / 30%) 0px 0px 10px 10px inset;
    border-radius: 15px;
    animation: 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s infinite normal none running animation-tollfree;
    opacity: 0;
}
@keyframes animation-tollfree {
    0%{
        width: 0px;
        height: 0px;
        opacity: 0;
        left: 50%;
        top: 50%;
    }
    30%{
        width: 220px;
        height: 50px;
        opacity: 0.3;
        left: 5px;
        top: 0;
    }
}
.phoneno-tollfree::after{
    animation-delay: 0.3s;
}
.header-container > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-column-indi{
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    padding: 0px 5px;
    line-height: 68px;
    position: relative;
    height: 100%;
}
.header-column-indi > span{
    padding-right: 4px;
}
.header-row{
    height: 100%;
}
.header-row > div{
    display: grid;
    position: relative;
}
.header-bar > div:hover > .header-column-indi{
    color: rgb(0, 91, 168);
}
.header-bar > div:hover > .submenu-of-header{
    transform: translateY(100%) scaleY(1);
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 20px;
    width: max-content;
    font-size: 14px;
}
.col-title-submenu{
    background: rgb(247, 249, 253) !important;
    font-weight: 700;
    padding: 10px 23px;
}
.row-header-submenu{
    display: grid;
    grid-auto-flow: column;
}
.row-header-submenu > div > a {
    text-decoration: none;
    color: rgb(59, 53, 54);
    display: block;
    line-height: 25px;
    font-size: 12px;
}
.flag-us-block{
    background-image: url('https://www.asaptickets.com/_next/static/media/flags.ae53191452bb217f0fa632ca364a8bdf.png');
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    width: 20px;
    margin-right: 5px;
    display: block;
    height: 11px;
    background-position: -5241px 0;
}
.flag-ph-block{
    background-image: url('https://www.asaptickets.com/_next/static/media/flags.ae53191452bb217f0fa632ca364a8bdf.png');
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    width: 20px;
    margin-right: 5px;
    display: block;
    height: 11px;
    background-position: -3987px 0;
}
.flag-es-block{
    background-image: url('https://www.asaptickets.com/_next/static/media/flags.ae53191452bb217f0fa632ca364a8bdf.png');
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    width: 20px;
    margin-right: 5px;
    display: block;
    height: 11px;
    background-position: -1555px 0;
}
.flag-it-block{
    background-image: url('https://www.asaptickets.com/_next/static/media/flags.ae53191452bb217f0fa632ca364a8bdf.png');
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    width: 20px;
    margin-right: 5px;
    display: block;
    height: 11px;
    background-position: -2523px 0;
}
.flag-il-block{
    background-image: url('https://www.asaptickets.com/_next/static/media/flags.ae53191452bb217f0fa632ca364a8bdf.png');
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    width: 20px;
    margin-right: 5px;
    display: block;
    height: 11px;
    background-position: -2369px 0;
}
.flag-gb-block{
    background-image: url('https://www.asaptickets.com/_next/static/media/flags.ae53191452bb217f0fa632ca364a8bdf.png');
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    width: 20px;
    margin-right: 5px;
    display: block;
    height: 11px;
    background-position: -1775px 0;
}
.flag-canada-block{
    background-image: url('https://www.asaptickets.com/_next/static/media/flags.ae53191452bb217f0fa632ca364a8bdf.png');
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    width: 20px;
    margin-right: 5px;
    display: block;
    height: 10px;
    background-position: -834px 0;
}
.flag-uk-block{
    background-image: url('https://www.asaptickets.com/_next/static/media/flags.ae53191452bb217f0fa632ca364a8bdf.png');
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    width: 20px;
    margin-right: 5px;
    display: block;
    height: 10px;
    background-position: -1775px 0;
}
.submenu-of-header{
    bottom: -1px;
    left: 0px;
    transform: translateY(100%) scaleY(0);
    transform-origin: left top;
    overflow: hidden;
    transition: all 0.2s ease 0.05s;
    position: absolute;
    text-transform: capitalize;
    background: rgb(255, 255, 255);
    white-space: nowrap;
}
.submenu-of-header-flags{
    right: 0px;
    left: auto;
}
.header-bar >div:hover > .header-column-indi::after{
    transform: scale(1);
}
.header-column-indi::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 3px;
    transition: transform 0.3s ease 0s;
    background-color: rgb(0, 91, 168);
    transform-origin: left bottom;
    transform: scale(0);
}
.header-bar{
    padding: 0px 20px;
    height: 68px;
    flex-wrap: nowrap;
    max-width: 1130px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}
.promobanner-hidden-text div {
    padding: 20px 0px
}
.trustpilot-row > .col > div > p {
    font-size: 13px;
    margin: 0;
}
.promobanner-content{
    width: 96%;
    padding: 0;
}
.promobanner-content > .row {
    cursor: pointer;
    width: 100%;
    margin: 0;
}
.close-promobanner{
    margin: 5px 5px 5px 10px;
    cursor: pointer;
}
.promobanner-content > .row .col{
    border-right: 1px solid rgb(16, 67, 162);
    padding: 0px 20px;
}
.promobanner-content > .row .col:last-child{
    border: 0px;
}
.asap-intro{
    line-height: 1.8;
}
.aboutus-wrapperstyle{
    max-width: 300px;
}
.aboutus-badges{
    margin: auto;
    text-align: start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 0px 25px;
}
.aboutus-badges > div{
    width: 100%;
    display: flex;
    place-items: center;
    padding: 20px 0px !important;
    color: rgb(255, 255, 255) !important;
    line-height: 1.8;
    text-align: left;
    font-size: 12px;
}
.simpleandfast{
    padding: 35px 0px;
    background-color: rgb(247, 247, 247);
}
.simpleandfast-container{
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    max-width: 1130px;
}
.left-icon-tickets{
    bottom: 30px;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(121, 121, 121);
    transform: rotate(90deg) translateY(120%);
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(136, 139, 145);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}
.right-icon-tickets{
    bottom: 30px;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(121, 121, 121);
    transform : rotate(-90deg) translateY(20%);
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(136, 139, 145);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}
.bg-light-blue{
    background: rgb(233, 242, 250);
}
.f-size-12-14 {
    font-size: 12px;
}
.simpleandfasttitle{
    font-size: 20px;
    font-weight: 600;
}
.simpleandfast-flex-content{
    padding: 40px 35px 0px;
}
.simpleandfast-icon{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(229, 229, 229);
    background: rgb(255, 255, 255);
    margin-bottom: 25px;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 10%) 0px -3px 30px;
    width: 100px;
    height: 100px;
}
.simpleandfast-icon::after{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: rgb(42, 76, 142);
    border-radius: 100%;
    content: "1";
    font-weight: 700;
    color: white;
    line-height: 30px;
    text-align: center;
}
.how-main-0::after{
    content: '1';
}
.sf-icon-main{
    background: url("https://www.asaptickets.com/static/img/about/spritesheet-2.png") no-repeat;
}
.how-0{
    background-position: 0px 0px;
    width: 65px;
    height: 61px;
}
.how-1{
    background-position: 0px -61px;
    width: 54px;
    height: 56px;
}
.how-main-1::after{
    content: '2';
}
.how-main-2::after{
    content: '3';
}
.how-2{
    background-position: 0px -117px;
    width: 54px;
    height: 60px;
}
.asap-tickets{
    padding: 10px 0px !important;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    max-width: 1130px;
}
.asap-tickets > h1 {
    margin-bottom: 20px;
    margin-top : 20px;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}
.asap-tickets-container{
    overflow-x: scroll;
    width: 100%;
    display: flex;
    padding: 0px 20px;
}
.asap-tickets-container > div{
    width: 208px;
    padding: 20px;
    text-align: center;
}
.flight-booking{
    width: 168px;
    height: 168px;
    background: url("https://www.asaptickets.com/static/img/about/ellipse-0.jpg");
    margin-left: auto;
    margin-right: auto;
}
.hotel-booking{
    width: 168px;
    height: 168px;
    background: url("https://www.asaptickets.com/static/img/about/ellipse-1.jpg");
    margin-left: auto;
    margin-right: auto;
}
.vacation-booking{
    width: 168px;
    height: 168px;
    background: url("https://www.asaptickets.com/static/img/about/ellipse-2.jpg");
    margin-left: auto;
    margin-right: auto;
}
.service-booking{
    width: 168px;
    height: 168px;
    background: url("https://www.asaptickets.com/static/img/about/ellipse-3.jpg");
    margin-left: auto;
    margin-right: auto;
}
.alltime-booking{
    width: 168px;
    height: 168px;
    background: url("https://www.asaptickets.com/static/img/about/ellipse-4.jpg");
    margin-left: auto;
    margin-right: auto;
}
.asapticketstitle{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}
.asap-tickets-container-title-ind{
    min-height: 42px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold !important;
}
.asap-tickets-many-year{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 0px 0px 0px 35px !important;
}
.asap-tickets-many-year > div {
    border-width: 1.5px;
    border-style: solid;
    border-image: initial;
    border-color: white white rgb(233, 242, 250);
    cursor: pointer;
    padding: 10px 15px;
    font-weight: bold !important;
    text-align: center;
}

.asap-intro{
    max-width: 630px;
    font-size: 14px !important;
}
.bg-blue{
    background-color: rgb(233, 242, 250);
}
.bg-grey{
    background: rgb(247, 249, 253) !important;
}
.asap-tickets-asoftoday{
    padding: 5px 25px 70px;
}
.asap-tickets-asoftoday-pic{
    height: 175px;
    background: url("https://www.asaptickets.com/static/img/about/story-today.jpg") center top / contain no-repeat;
}
.asoftoday-content{
    width: 100%;
}
.asoftoday-title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 25px;
}
.accreditations-title{
    font-weight: 600;
    font-size: 20px;
}
.accre-content{
    width: 100%;
    display: inline-block;
    padding: 30px;
    text-align: center;
}
.accre-content > div:first-child{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 60px;
}
.accre-content-pic{
    background: url("https://www.asaptickets.com/static/img/about/spritesheet-3.png") no-repeat;
}
.pic-0{
    background-position: 0px -118px;
    width: 45px;
    height: 45px;
}
.pic-1{
    background-position: 0px -36px;
    width: 63px;
    height: 30px;
}
.pic-2{
    background-position: 0px 0px;
    width: 78px;
    height: 36px;
}
.pic-3{
    background-position: 0px -66px;
    width: 60px;
    height: 52px;
}
.slick-track{
    display: flex;
    width: 1092px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
.main-promobanner{
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 11px;
}
.main-promobanner > div{
    flex: 1 1 25%;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
}
.main-promobanner > div:not(:last-child):after{
    content: "";
    position: absolute;
    height: 80%;
    width: 1px;
    background-color: rgb(16, 67, 162);
    top: 0px;
    right: 0px;
}
.navbar-container > div:last-child{
    top: 0px;
    z-index: 203;
    box-shadow: rgb(0 0 0 / 10%) 0px -3px 30px;
    background-color: white;
}
.main-promobanner > div:not(:first-child){
    padding: 0px 20px;
}
@media (max-width: 600px){
    
}
@media (max-width: 767px){
    .hid-sm{
        display: none;
    }
}
@media (max-width: 885px){
    .header-bar > div{
        display: none !important;
    }
}
@media (max-width: 767px){
    .trustpilot-img{
        font-size: 11px;
    white-space: nowrap;
    }
    .trustpilot-row > div{
        justify-content: center;
    }
    .acc-business > a{
        margin: 0px 0px 0px 10px;
    -webkit-box-pack: end !important;
    justify-content: flex-end !important;
    }
.aboutus-inner-container {
    padding: 30px 35px 0px !important;
}
.aboutus-badges{
    max-width: 300px;
}
}
/* Media queries */
@media (min-width: 768px){
    .aboutus-video-wrapper{
        margin: 0px auto;
        color: rgb(255, 255, 255) !important;
        position: relative;
        font-size: 53px;
        cursor: pointer;
        flex-shrink: 0;
        overflow: hidden;
        line-height: 1;
    }
    .aboutus-wrapperstyle{
        max-width: none;
        margin: 0px !important;
        width: 630px !important;
        height: 320px !important;
    }
    .text-sm {
        font-size: 12px !important;
    }
    .acc-business > a{
        transform: scale(1.1);
        transform-origin: center bottom;
        margin: 0px 17px 5px 0px;
    }
    .trustpilot-row > div{
        padding: 20px;
    }
    .trustpilot-row{
        height: 56px;
    }
    .cookies-container.extended{
        grid-template-columns: 5fr 1fr auto;
    }
    .collapse-icon{
        grid-area: auto / auto / auto / auto;
    }
    .arrow-btn{
        display: grid;
        padding: 10px;
        grid-area: auto / auto / auto / auto;
    }
    .cookie-btn > button{
        margin-top: 0px;
    margin-bottom: 0px;
    }
    .cookie-btn{
        grid-area: 1 / 2 / 1 / 3;
        padding-bottom: 0px;
    }
    .cookie-txt{
        padding: 7px 0px;
    }
    .cookies-container{
        gap: 10px;
    max-height: 60px;
    line-height: 20px;
    grid-template-columns: 5fr 0.5fr auto;
    padding: 5px 15px 5px 25px !important;
    }
    .close-promobanner{
        font-size: 16px;
        margin: 0px;
    }
    .show-text{
        max-height: 300px;
        transition: all 0.5s ease-in 0s;
    }
    .promobanner-bar{
        padding: 7px 20px !important;
    }
    .trustpilot-img > div{
        height: 23px;
    width: 110px;
    }
    .accre-content{
        text-align: left;
    }
    .accreditations-title{
        margin-bottom: 30px;
    font-size: 30px !important;
    font-weight: 400 !important;
    }
    .right-icon-tickets{
        bottom: 60px;
    left: calc(50% + 75px);
    }
    .asoftoday-title{
        font-size: 18px !important;
    margin-top: 0px !important;
    }
    .asoftoday-content{
        padding-left: 35px;
        line-height: 18px;
    }
    .asap-tickets-asoftoday-pic{
        height: 320px;
    }
    .asap-tickets-asoftoday{
        padding: 40px 0px;
    align-items: flex-start;
    display: flex !important;
    }
    .left-icon-tickets{
        bottom: 60px;
    left: calc(50% + 75px);
    }
    .asapticketstitle{
        font-size: 30px !important;
        font-weight: 400 !important;
    }
    .asap-tickets > h1 {
        margin: 40px 0px 30px !important;
    font-size: 30px !important;
    font-weight: 400 !important;
    }
    .asap-tickets{
        padding-bottom : 50px !important;
    }
    .simpleandfast-flex-content{
        padding: 60px 10px 40px;
    }
    .simpleandfast-flex{
        display: flex;
    }
    .simpleandfasttitle{
        font-size: 30px !important;
        font-weight: 400 !important;
    }
    .furhi{
        font-weight: 600;
    }
    .f-size-12-14 {
        font-size: 14px;
    }
    .simpleandfast-container{
        padding: 20px;
    }
    .simpleandfast{
        padding-top : 60px !important
    }
    .hero-outer-container {
    background-size: cover;
    background-position: 29% -290px;
    }
    .aboutus-inner-container{
        display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 95px 20px 0px !important;
    }
    .what-is-asap{
        text-align: center;
    font-size: 30px !important;
    font-weight: 400 !important;
    }
    .aboutus-video-wrapper{
        margin: 0px auto 20px;
    width: 630px !important;
    height: 320px !important;
    }
    .aboutus-badges{
        width: 100%;
        padding: 20px 0px;
    display: flex;
    flex-wrap: inherit;
    }
    .accreditations-container{
        padding: 65px 20px !important;
    }
}
@media (min-width: 1025px){
    .right-icon-tickets{
        left: 685px;
    }
    .asoftoday-content{
        line-height: 20px;
        padding-left: 70px;
    }
    .asap-tickets-asoftoday-pic{
        flex-shrink: 0;
    width: 555px;
    }
    .left-icon-tickets{
        left: 685px;
    }
    .asap-tickets-many-year > div{
        padding : 20px 12px !important;
    }
    .asap-tickets-container > div {
        width: 100%;
        padding: 10px !important;
    }
    .asap-tickets-container{
        overflow-x: visible;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .simpleandfast-flex-content{
        padding: 60px 40px 40px;
    }
    .aboutus-badges > div{
        width: auto;
        font-size: 14px !important;
        line-height: 24px !important;
        padding: 0px !important;
    }
    .hero-outer-container {
    background-size: cover;
    background-position: 29% -420px;
    }
    .aboutus-inner-container{
        -webkit-box-align: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 95px 20px 0px !important;
    }
    .what-is-asap{
        text-align: left;
    }
    .asap-intro{
        max-width: 370px;
    font-size: 14px !important;
    }
    .aboutus-wrapperstyle{
        max-width: 630px;
    }
    .aboutus-video-wrapper{
        margin: 0px 0px 20px;
    width: 630px !important;
    height: 320px !important;
    }
}
@media (min-width: 1130px){
    .asap-tickets-many-year {
        overflow-x: visible;
        padding: 0px 20px !important;
    }
    }
@media (min-width: 1200px){
    .header-column-indi{
        padding: 0px 10px;
    }
}
@media (min-width: 1920px){
    .hero-outer-container {
    background-size: cover;
    background-position: center -540px;
    }
}